In [4]:
#Importing The Necessary library
import pandas as pd

In [5]:
df =pd.read_csv("Telco_Customer_Churn_Dataset.csv", delimiter = ',')#Reading my Dataset into my environment 
df#Displaying the DataSet

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [6]:
df.info()#Getting Information about the Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

Data Preparation and Cleaning Part

In [7]:
df.duplicated()#Checking for Duplicate Values

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Length: 7043, dtype: bool

In [8]:
##Checking For Null Values 
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
#Checking and correcting white Spaces
df.colums=df.columns.str.strip()

C:\Users\Win11\AppData\Local\Temp\ipykernel_13476\630857244.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.colums=df.columns.str.strip()

In [7]:
#Displaying the Dataset columns 
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
#Checking and displaying the unique values of the multivalue column(PaymentMethod)
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [9]:
#Counting and Displaying the number of values for each PaymentMethod 
df['PaymentMethod'].value_counts()

PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [19]:
#Calculating outliers
Q1 = df['tenure'].quantile(0.25)  # First quartile (25th percentile)  
Q3 = df['tenure'].quantile(0.75)  # Third quartile (75th percentile)  
IQR = Q3 - Q1  # Interquartile Range
lower_bound = Q1 - 1.5 * IQR  # Lower bound for outliers  
upper_bound = Q3 + 1.5 * IQR  # Upper bound for outliers
print(lower_bound)
print(upper_bound)
#Looking for Outliers
outliers = df[(df['tenure'] < lower_bound) | (df['tenure'] > upper_bound)]
print(outliers)

-60.0
124.0
Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [10]:
#Grouping the DAtaset into Categorical and Numerical 
cat = []
num = []
for x in df.columns:
     if df[x].dtypes == object:
      cat.append(x)
     else:
         num.append(x)
cat

['customerID',
 'gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'TotalCharges',
 'Churn']

In [1]:
#Categorical Columns 
cat_columns=['customerID','gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection', 'TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','TotalCharges','Churn']

In [ ]:
df.drop('customerID', axis=1, inplace=True)#Droping The CustomerID because it is unneccesary for the Model

In [17]:
#Encoding my Binary Data(Those with 2 Values)
binary_cols=['gender', 'Partner','Dependents','PhoneService','PaperlessBilling','Churn']
for col in binary_cols:
    df[col]=df[col].map({'Yes':1, 'No':0, 'Male': 1,'Female': 0})

In [ ]:
#Encoding the Multi-Value Columns 
multi_class_cols=['MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod']
df=pd.get_dummies(df, columns=multi_class_cols, drop_first=True)

In [ ]:
#Changing the Data type of TotalCharges 
total = []
for i in df['TotalCharges'] :
    if i.isdigit() == False :
        total.append(0)
    else :
        total.append(i)

In [ ]:
#Overiding the Values of the TotalCharges 
df['TotalCharges'] = total

In [ ]:
#Changed Data type of the TotalCharges
df['TotalCharges'] = df['TotalCharges'].astype('float64')

In [14]:
#Getting my Data for Model Selection
target_column="Churn"
X=df.drop(columns=[target_column])
y=df[target_column]

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [17]:
#Importing the neccesary library for model Selection 
from sklearn.model_selection import train_test_split

In [18]:
#Dividing my Data for Model Training and Testing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.20, random_state= 42, stratify=y)